<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration"
      type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,
      Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="DocumentProcessingDatabase"/>

  <connectionStrings>
    <add name="DocumentProcessingDatabase"
      connectionString="Data Source=DIN56001305\SQLEXPRESS;Initial Catalog=DocumentProcessingDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="sourceFilePath" value="D:\Project\source\"/>
    
    

  </appSettings>
</configuration>